
.header{
    height: 85px;
    width: 100%;
    background-color:#3b5998;

}
body{
    margin: 0;
    font-family: Helvetica Neue,Helvetica, Arial, sans-serif;     
}
.logo{
    width: 50%;
    padding-top: 45px;
    float: left;
}
.login{
    width: 50%;
    float: left;
    padding-top: 10px;
}
.logo-text{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 85px
}
.login-label{
    size: 11px;
    color: white;
    font-size: 15px;

}
.login-controls{
    margin-left: 115px; 
}
.forgotten{
    font-size: 13px;
    text-decoration: none;
    color: #9cb4d8;
}
.sub-btn{
    background: #4267b2;
    color: white;
    height: 20px;
    border-color: #29487c;
    cursor: pointer;
}
.sub-btn:hover{
    background-color: #29487c;
}
.left-section{
    width: 50%;
    float: left;
    padding-left: 120px;
    padding-top: 75px;
    font-size: 15px;
    font-weight: bold;

}
.right-section{
    width: 40%;
    float: left;
}
.main-body{
    background: linear-gradient(white, #d3d8ed);
    width: 100%;
    height: 450px;
    width: 100%;
    }
.heading{
    font-size: 28px;

}
.signup{
    position:absolute;
    width: 120px;
    height:20px; 
    padding-bottom: 25px;
    background-color:rgb(30, 63, 30);
    border-radius: 8px;
    size: 11px;
    color: white;
    font-size: 15px

}
.name{
    border-color: white;
    height: 40px;
    width: 200px;
    border-radius: 8px;
    font-size: 20px;
}

.second{
    border-color: white;
    height: 70px;
    width: 200px;
    border-radius: 8px;
    font-size: 20px;
}
p5{
    font-size: 14px;
}
p6{
    font-size: 14px; 
}
.footer-first{
    width: 900px;
    margin: 32px auto;

}
.footer-first >ul{
    margin-bottom: 10px;
    margin-bottom: 10px;
}
.footer-first >ul >li{
    display : inline-block;
    margin: 0 5px;
    
}
.footer-first > ul >li>a{
     text-decoration: none;
     color: #777;
     font-size: 12px;
}